@using MVC_Library.ViewModel
@model BookVM

<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Edit Book</h2>

                            <form method ="post" asp-action="Edit">
                                <input type="hidden" value="@Model.Id" id="Id" />
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input asp-for="Title" type="text" name="Title" class="form-control form-control-lg"/>
                                    <span asp-validation-for="Title"></span>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input asp-for="Author" type="text" name="Author" class="form-control form-control-lg"/>
                                    <span asp-validation-for="Author"></span>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input asp-for="Publisher" type="text" name="Publisher" class="form-control form-control-lg"/>
                                    <span asp-validation-for="Publisher"></span>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input asp-for="YearOfPublication" type="number" name="YearOfPublication" class="form-control form-control-lg" />
                                    <label asp-for="YearOfPublication" class="form-label">Year of publication</label>
                                    <span asp-validation-for="YearOfPublication"></span>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input asp-for="Price" type="decimal" name="Price" class="form-control form-control-lg" />
                                    <label asp-for="Price" class="form-label"></label>
                                    <span asp-validation-for="Price"></span>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-block btn-lg btn-success">Edit Book</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
