<div class="container mt-5">
    <h1>Settings</h1>
    <div class="mt-4">
        <a class="btn btn-sm btn-danger ms-2" asp-controller="Login" asp-action="Delete">Delete account</a>
    </div>
</div>
